<!--
  Tymczasowe sprawdzanie błędów
-->
<% if(errors){ errors.forEach(error =>{ %>
<span style="color: red"><%=error%></span>
<% }) } %>

<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>TestArmy Recruitment Task</title>
    <link rel="shortcut icon" type="image/jpg" href="somefaviconlocation" />
    <meta
      name="description"
      content="This is a page for TestArmy recruitment purposes"
    />
    <meta name="author" content="OTG Crew" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/main.css" />
  </head>

  <body class="text-center">
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link active" href="/">Homepage</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login page</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Register page</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile">User profile</a>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted">TestArmy Recruitment Project</h3>
      </div>
      <h1>Hello World!</h1>

      <p><a href="login">Formularz logowania!</a></p>
      <p><a href="register">Formularz rejestracji</a></p>
      <p><a href="profile">User profile</a></p>
      <p><a href="logout">Logout</a></p>
    </div>
  </body>
</html>
