<!--
  Sprawdzanie czy uzytkownik sie loguje
-->
<% 
  if(locals.user){
    %>
    <span style="color: green"> Zalogowano</span>
    <%
  }
%>
<!--
  Tymczasowe sprawdzanie błędów
-->
<% 
  if(locals.errors){
    locals.errors.forEach(error =>{
      %>
        <span style="color: red"><%=error%></span>
      <%
    })
  }
  %>

<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>TestArmy Recruitment Task</title>
    <link rel="shortcut icon" type="image/jpg" href="somefaviconlocation" />
    <meta
      name="description"
      content="This is a page for TestArmy recruitment purposes"
    />
    <meta name="author" content="OTG Crew" />

    <link rel="stylesheet" href="css/main.css" />
  </head>

  <body>
    <h1>Hello World!</h1>
    <p><a href="login">Formularz logowania!</a></p>
    <p><a href="register">Formularz rejestracji</a></p>
    <p><a href="upload">Formularz </a></p>
  </body>
</html>
