<!DOCTYPE html>
    
    <html lang="en">
      <head>
        <meta charset="utf-8" />
        <title>TestArmy Recruitment Task</title>
        <link rel="shortcut icon" type="image/jpg" href="somefaviconlocation" />
        <meta
          name="description"
          content="This is a page for TestArmy recruitment purposes"
        />
        <meta name="author" content="OTG Crew" />
        <link href="/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="css/main.css" />
      </head>
    
      <body>
        <div class="container">
          <div class="header clearfix">
            <nav class="navigation">
              <ul class="nav nav-pills float-right">
                <li class="nav-item">
                  <a class="nav-link" href="/">Homepage</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact Us</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" href="/profile"><%=user.username%></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/logout">Logout</a>
                </li>
              </ul>
            </nav>
            <div class="main-container">
              <div class="left-panel">
                <div class="news-tile">
                  <h1>Welcome to your recruitment task</h1>
                  <h3>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a
                    metus turpis. Aenean mollis porttitor tortor, vel venenatis
                    ligula bibendum et.
                  </h3>
                  <span class="news-footer">
                    <span class="news-author">
                      <a class="author-link" href="#">Jacob</a></span> -
                    <span class="news-date">21:37 31.13.2021</span>
                  </span>
                </div>
              </div>
              <div class="right-panel">hehz</div>
              <div class="footer"><span class="footer-text">OTG Crew for TestArmy &copy; 2021</span></div>
            </div>
    
            <h1>Hello World!</h1>
          </div>
        </div>
      </body>
    </html>
    