html,
body {
  margin: 0 auto;
  width: 960px;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #222 !important;
}

/*NAV STYLES */
.navigation {
  margin-left: 10px;
  margin-bottom: 50px;
}

/*NEWS TILES STYLES */

.main-container {
  margin-left: 10px;
  width: 960px;
  height: auto;
  float: left;
}

.left-panel {
  width: 700px;
  height: auto;
  float: left;
}

.news-tile {
  width: 700px;
  height: 200px;
}

.news-tile h1,
.news-tile h3,
.news-tile h4,
.news-tile span {
  color: #fff;
  margin-left: 5px;
}

.news-tile h3,
.news-tile h4 {
  font-style: italic;
}

.news-tile .news-author {
  font-weight: bold;
}

.news-tile .author-link {
  text-decoration: none;
  color: white;
}
.news-tile .author-link:hover {
  text-decoration: underline;
}

.news-tile .news-date {
  font-style: italic;
}

.footer {
  margin-left: 10px;
  margin-top: 20px;
  width: 950px;
  height: 150px;
  border: 1px solid #fff;
  float: left;
}

.footer .footer-text {
  font-size: 18px;
  color: #fff;
}

.right-panel {
  margin-left: 30px;
  width: 228px;
  height: 603px;
  border: 1px solid white;
  float: left;
}

/* FORMS STYLES */
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="username"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="email"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* FOOTER STYLING */
.footer-copy {
  color: #fff;
  font-size: 20px;
  margin-top: 15px;
}
